@using mecp_kontent_core.Helpers.Extensions
@model Page

@{
    Layout = null;
}

<div class="col-md-6 col-lg-4">
    <a class="btn btn-primary btn-lg outline" href="@Model.Slug">@Model.Title</a>
</div>